In [1]:
import pandas as pd
import numpy as np

In [ ]:
mapa_militar = pd.read_excel('mapa_militar.xlsx')
mapa_militar.head()

   hoja cuadricula         x          y mapamilitar
0   101        H08 -8.896420  43.294854     0101H08
1   101        H09 -8.826339  43.312093     0101H09
2   101        H10 -8.691378  43.277655     0101H10
3   101        H11 -8.568227  43.287362     0101H11
4   101        I06 -9.143557  43.186897     0101I06

In [ ]:
# Agrupamos por codigo de columna de mapa militar donde hay registros duplicados
mapa_militar = mapa_militar.groupby('mapamilitar', as_index=False).agg({
    'x': 'mean',
    'y': 'mean'
})

# Lo exportamos
mapa_militar.to_excel('mapa_militar_mod.xlsx', index=False)

# Mostrar el resultado
print(mapa_militar)

     mapamilitar         x          y
0        0101H08 -8.896420  43.294854
1        0101H09 -8.826339  43.312093
2        0101H10 -8.691378  43.277655
3        0101H11 -8.568227  43.287362
4        0101I06 -9.143557  43.186897
...          ...       ...        ...
5281     1103I06  4.148231  39.870080
5282     1103I07  4.252808  39.882383
5283     1103I08  4.296741  39.905638
5284     1103J07  4.239282  39.819472
5285     1103J08  4.294744  39.816775

[5286 rows x 3 columns]